.main-nav {
    background-color: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 1rem;
    position: relative;
}

.main-nav h2 {
    margin: 0;
    font-size: 1.2rem;
}

.nav-menu {
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    background: #222;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease;
}

.nav-menu.open {
    max-height: 500px;
}

.nav-menu li {
    padding: 1rem;
    border-top: 1px solid #333;
}

.main-nav .logo, .main-nav .logo.active {
    color: white;
}

.main-nav a {
    text-decoration: none;
    color: #fff;
}

.main-nav a:hover {
    color: #EDF67D;
    text-decoration: underline;
}

.main-nav a[aria-current="page"] {
    color: #EDF67D;
    font-weight: bold;
}

.hamburger {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
}

.hamburger span {
    height: 3px;
    background: #fff;
    border-radius: 3px;
    transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

@media (min-width: 768px) {

    .hamburger {
        display: none;
    }

    .nav-menu {
        position: static;
        background: none;
        flex-direction: row;
        display: flex;
        gap: 1rem;
        width: auto;
        max-height: none;
        overflow: visible;
        margin: 0;
        padding: 0;
    }

    .nav-menu li {
        border: none;
        padding: 0;
    }
}
